{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>

  <form class="ui stacked segment form" action="/dashboard/addplaylist" method="POST">
    <div class="field">
      <label>Playlist Title</label>
      <input placeholder="Enter playlist title" type="text" name="title" required>
    </div>
    <button class="ui blue submit button">Add Playlist</button>
  </form>
  
  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}

  {{#each playlists}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{title}}
        <div class="sub header">
          Total songs: {{songs.length}}
        </div>
        <a href="/playlist/{{id}}">
	<i class="ui open folder outline black icon"></i>
</a>
<a href="/dashboard/deleteplaylist/{{id}}">
   <i class="ui trash black icon"></i>
</a>

      </h3>
      <a href="/playlist/{{id}}"> View </a>
    </section>
  {{/each}}

</section>

